@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
  margin-top:70px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
}

.container{
  width:100%;
  height: 100%;
}

hr.projects-title{
  margin-top: 30px;
}
.projects-header{
  display: grid;
  grid-column: 1/4;
}

.projects{
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(300px,auto);
  
}

.pro{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.pro a{
  color: #fff !important;
  position: absolute;
  right: 50%;
  left: 47%;
  bottom: 20px;
}

.project1{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/media/project1.jpg);
  /* background: url(/media/project1.jpg); */
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  
}

.project1:hover p span{
  display: none;
}

.project1:hover  p:after{
  content: 'A connet 4 AI made using javascript and the p5.js library. The minimax algorithm was used with alpha beta pruning to look up to 10 moves ahead. Try and beat it!';
}

.project2{
  border-radius: 25px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/media/dragonboat.jpg);
  background-size: cover;
  background-position: center;
}
.project3{
  border-radius: 25px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/media/website.jpg);
  background-size: cover;
  background-position: center;
}
.project4{
  border-radius: 25px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/media/SHMUP.jpg);
  background-size: cover;
  background-position: center;
}
.project5{
  border-radius: 25px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/media/instagram.jpg);
  background-size: cover;
  background-position: center;
}
.project6{
  border-radius: 25px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/media/earthquake.jpg);
  background-size: cover;
  background-position: center;
}


section{
  width:100%;
  height:100vh;
}


#home h1{
  color: #fff;
}

.headshot{
  border-radius: 50%;
}

.arrow{
  position: absolute;
  bottom: 7%;
  
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

#showcase img {
  margin-top: 30px;
  max-width:100%;
  height:auto;
  margin-right: 60px;
}

#info1 img {
  max-width:100%;
  height:auto;
  margin-right: 60px;
  margin-top: 40px;
}
#contact img {
  max-width:100%;
  height:auto;
  margin-right: 60px;
  margin-top: 40px;
}

#showcase .showcase-right{
  margin-top: 50px;
}

#testimonial{
  background:#f1f1f1;
  padding: 20px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
}

#info1 .info-right{
  margin-top:90px;
}

#info2{
  margin:20px 0 60px 0;
}

#contact{
  background:url(../media/pimg3.jpg);
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

footer{
  padding:30px;
}

#home img{
  border-radius: 50%;
  width:200px;
  height:2px;

}
.navbar-fixed-top.scrolled {
  background-color: rgba(255,255,255,0.8) !important;
  transition: background-color 200ms linear !important;
}

.navbar {
  position: fixed !important;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background: transparent;
}

.navbar-brand{
  color: rgba(0,0,0,0.5) !important;
}
.navbar-brand:hover{
  color: rgba(0,0,0,1) !important;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.navbar ul li a:hover {
  color: #000 !important;
}

section#home{
  background: url('../media/pimg1.jpg') no-repeat center center/cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

/* loader code */
  
  .loader-wrapper{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000;
  }

  .loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:#fcf5c7 ;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
  }

  .loader:before{
    content: "";
    position: absolute;
    top:5px;
    left: 5px;
    right: 5px;;
    bottom: 5px;
    border-radius: 50%;

    border: 3px solid transparent;
    border-top-color: #a0ced9 ;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  .loader:after{
    content: "";
    position: absolute;
    top:15px;
    left: 15px;
    right: 15px;;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:  #adf7b6;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  @-webkit-keyframes spin {
    0%   {  
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    
    100% {  
      -webkit-transform: rotate(36deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0%   {  
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    
    100% {  
      -webkit-transform: rotate(360%deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }

  .loader-wrapper .loader-section{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background:#222;
    z-index: 1000;
  }

  .loader-wrapper .loader-section.section-left{
    left:0;
  }

  .loader-wrapper .loader-section.section-right{
    right:0;
  }

  .loaded .loader-wrapper .loader-section.section-left{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-100%);  /* IE 9 */
    transform: rotate(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s  0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
  .loaded .loader-wrapper .loader-section.section-right{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }

  .loaded .loader{
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
  .loaded .loader-wrapper{
    visibility: hidden;
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

  }

  /* Icon Bob */
@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-bob .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-bob:hover .hvr-icon, .hvr-icon-bob:focus .hvr-icon, .hvr-icon-bob:active .hvr-icon {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  
}


  
