@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
  margin-top:70px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
}

section{
  width:100%;
  height:auto;
}

.navbar-fixed-top.scrolled {
  background-color: rgba(255,255,255,0.8) !important;
  transition: background-color 200ms linear !important;
}

.navbar {
  position: fixed !important;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background: transparent;
}

.navbar-brand{
  color: rgba(0,0,0,0.5) !important;
}
.navbar-brand:hover{
  color: rgba(0,0,0,1) !important;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.navbar ul li a:hover {
  color: #000 !important;
}

section#home{
  background: url('../media/pimg1.jpg') no-repeat center center/cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

#home h1{
  color: #fff;
}

.arrow{
  position: absolute;
  bottom: 7%;
  
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
#showcase h1{
  grid-column: 1/4;
  text-align: center;
  padding-bottom: 30px;
}

#showcase{
padding-top: 20px;
justify-items: center;
grid-template-areas: "content";
height: auto;
background: #F8F8FF;
padding-bottom: 50px;
font-family: 'Josefin Sans'

}
#showcase i{
  color: #82c4c3
}
.showcase-wrapper{
display: block;
align-content: center;
text-align: center;

}
.showcase-wrapper h3{
 margin-top: 3vh;
 margin-bottom: 3vh;
 color: cornflowerblue;
}
.showcase-wrapper .description{
  font-size: 20px;
  margin-top: 4vh;
  margin-left: 30vw;
  margin-right: 30vw;
  line-height: 40px;
  font-weight: lighter;
}

.showcase-wrapper .break{
  margin-top: 10vh;
  margin-bottom: 12vh;
  line-height: 30px;
  letter-spacing: 10px;
  
  font-weight: 2000;
}

hr.About-Me-hr{
  margin-top: 30px;
  width: 50vw;
}

hr.AboutMeTitle{
  margin-top: 30px !important;
}

.quote {
  font-size: 20px;
  padding-top: 50px;
  text-align: center;
}

hr.quote-underline{
  border: none;
  background: #a0ced9;
  height: 4px;
  width: 400px;
  margin-bottom: 0px;
}


.headshot{
  border-radius: 50%;
  max-width:200px;
  height:200px;
 
}

hr.projects-title{
  padding-top: 30px;
}

.projects-header{
  display: grid;
  grid-column: 1/4;
}

#projects{
  background:#f1f1f1;
  padding: 20px 0 30px 0;
  text-align:center;
  padding-top:33px;
  padding-bottom: 40px;
}

.projects{
  font-size: 32px;
  font-family: 'Josefin Sans';
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(300px,auto);
  
}

.pro{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.pro a{
  display: grid;
  grid-column: 1/4;
  font-size: 18px;
  color: #fff !important;
  position: absolute;
  right: 50%;
  left: 47%;
  bottom: 20px;
}

.pro a:hover{
  opacity: 0.55;
}

.project1{
  border-radius: 25px;
  background: url(/media/project1.webp);
  background-size: cover;
  background-position: center;
  
}

.project1:hover p span{
  
  display: none;
}

.project1:hover  p:after{
  line-height: 5px;
  font-size: 18px;
  content: 'A connet 4 AI made using javascript and the p5.js library. The minimax algorithm was used with alpha-beta pruning to look up to 10 moves ahead. Try and beat it!';
}

.project2{
  border-radius: 25px;
  background: url(/media/dragonboat.webp);
  background-size: cover;
  background-position: center;
}

.project2:hover p span{
  
  display: none;
}

.project2:hover  p:after{
  line-height: 5px;
  font-size: 18px;
  content: 'I used the p5.js and ml5.js and poseNet libriary for realy time human pose estimation. This judge will tell you if you are in the right A-fram form and highlight in red where improvements can be made.'
}
.project3{
  border-radius: 25px;
  background: url(/media/website2.webp);
  background-size: cover;
  background-position: center;
}

.project3:hover p span{
  
  display: none;
}

.project3:hover  p:after{
  padding-top: 3rem;
  line-height: 5px;
  font-size: 20px;
  content: 'I have a passion for UX design so I decided to build my own website! I used html, CSS, javascript, and some framworks such as bootstrap and jquery.'
}

.project4{
  border-radius: 25px;
  background: url(/media/SHMUP.webp);
  background-size: cover;
  background-position: center;
}

.project4:hover p span{
  
  display: none;
}

.project4:hover  p:after{
  line-height: 5px;
  font-size: 20px;
  content: 'Me and a team made this using Unity and coded it in C#. We used modular programming to make a retro style \'shoot em up game\' with power ups and enemies. ';
}

.project5{
  border-radius: 25px;
  background: url(/media/instagram2.webp);
  background-size: cover;
  background-position: center;
}

.project5:hover p span{
  
  display: none;
}

.project5:hover  p:after{
  line-height: 5px;
  font-size: 20px;
  content: 'I found a lot of cuurent follower apps steal user data, so I built my own! I used python and Selenium to make a bot to navigate through Instagram\'s onoine website.'
}
.project6{
  border-radius: 25px;
  background: url(/media/earthquake.webp);
  background-size: cover;
  background-position: center;
}

.project6:hover p span{
  display: none;
}

.project6:hover  p:after{
  line-height: 5px;
  font-size: 20px;
  content: 'Using the p5.js library and the google maps API i visualized the earthquakes around the world! I imported eathquake data from a CSV file and plotted it on a 2D visualization of the earth.';
}

hr .experince-hr{
  padding-top: 50px !important;
}


footer{
  padding:30px;
}

  

/* loader code */
  
  .loader-wrapper{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000;
  }

  .loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:#fcf5c7 ;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
  }

  .loader:before{
    content: "";
    position: absolute;
    top:5px;
    left: 5px;
    right: 5px;;
    bottom: 5px;
    border-radius: 50%;

    border: 3px solid transparent;
    border-top-color: #a0ced9 ;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  .loader:after{
    content: "";
    position: absolute;
    top:15px;
    left: 15px;
    right: 15px;;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:  #adf7b6;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  @-webkit-keyframes spin {
    0%   {  
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    
    100% {  
      -webkit-transform: rotate(36deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0%   {  
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    
    100% {  
      -webkit-transform: rotate(360%deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }

  .loader-wrapper .loader-section{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background:#222;
    z-index: 1000;
  }

  .loader-wrapper .loader-section.section-left{
    left:0;
  }

  .loader-wrapper .loader-section.section-right{
    right:0;
  }

  .loaded .loader-wrapper .loader-section.section-left{
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-100%);  /* IE 9 */
    transform: rotate(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s  0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
  .loaded .loader-wrapper .loader-section.section-right{
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }

  .loaded .loader{
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  }
  .loaded .loader-wrapper{
    visibility: hidden;
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

  }

  
